@font-face {
  font-family: 'Trajan Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Regular"), url("../font/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Trajan Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Bold"), url("../font/TrajanPro-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Minion Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Minion Pro Regular"), url("../font/MinionPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Minion Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Minion Pro Bold"), url("../font/MinionPro-Bold.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url(../img/black-texture.png);
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trajan Pro Regular', 'Trajan Pro Bold';
}

p, span {
  font-family: 'Minion Pro Regular', 'Minion Pro Bold';
}

.navbar-custom {
  background-color: transparent;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader > img {
  width: 100px;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active {
  color: #fff;
  background-color: #0067c9;
  border-color: #000;
}

.text-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-flex-direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card {
  background-image: url(../img/contemporary.png);
}

.card .card-header, .card .card-footer {
  background-color: transparent;
  border-color: transparent;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card-hover:hover {
  cursor: pointer;
  border: 1px solid #821528;
}

#startGame, #resetChar {
  display: none;
}

#board span {
  display: inline-block;
  width: 150px;
  height: 100px;
  border: 1px solid #000;
}

#board div:nth-child(odd) span:nth-child(even) {
  background-color: #16425b;
  color: #d9dcd6;
}

#board div:nth-child(even) span:nth-child(odd) {
  background-color: #16425b;
  color: #d9dcd6;
}

#board div:nth-child(even) span:nth-child(even) {
  background-color: #d9dcd6;
  color: #16425b;
}

#board div:nth-child(odd) span:nth-child(odd) {
  background-color: #d9dcd6;
  color: #16425b;
}

#row-1, #row-3, #row-5 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.tile {
  font-size: 20px;
}

/* TILE WHITE ARROW RIGHT */
#tile-2, #tile-4, #tile-12, #tile-14, #tile-22, #tile-24 {
  background-image: url(../img/arrow-right.svg);
  background-size: cover;
}

/* TILE WHITE ARROW LEFT */
#tile-6, #tile-16, #tile-26 {
  background-image: url(../img/arrow-left.svg);
  background-size: cover;
}

/* TILE WHITE ARROW UP */
#tile-10, #tile-20 {
  background-image: url(../img/arrow-up.svg);
  background-size: cover;
}

/* TILE BLUE ARROW up */
#tile-5 {
  background-image: url(../img/arrow-blue-up.svg);
  background-size: cover;
}

/* TILE BLUE ARROW LEFT */
#tile-7, #tile-9, #tile-17, #tile-19, #tile-27, #tile-29 {
  background-image: url(../img/arrow-blue-left.svg);
  background-size: cover;
}

/* TILE BLUE ARROW RIGHT */
#tile-3, #tile-13, #tile-23 {
  background-image: url(../img/arrow-blue-right.svg);
  background-size: cover;
}

/* TILE TRAPS BACKGROUND IMAGES */
#tile-8 {
  background-image: url(../img/wolf.svg);
  background-size: cover;
}

#tile-11, #tile-15 {
  background-image: url(../img/bowman.svg);
  background-size: cover;
}

#tile-18 {
  background-image: url(../img/mounted-knight.svg);
  background-size: cover;
}

#tile-21 {
  background-image: url(../img/night-king.svg);
  background-size: cover;
}

#tile-25 {
  background-image: url(../img/kraken.svg);
  background-size: cover;
}

#tile-28 {
  background-image: url(../img/dragon.svg);
  background-size: cover;
}

#tile-30 {
  background-image: url(../img/board-throne.svg);
  background-size: cover;
}

.board-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #16425b;
  color: #d9dcd6;
  border: solid 1px #000;
}

.board-trap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9dcd6;
  border: solid 1px #000;
  height: 120px;
}

.trap-text {
  font-size: 18px;
}

#dice-result {
  color: #006B07;
}

#trap-activate {
  color: #821528;
}

#p1TokenDisplay {
  width: 100px;
}

#p2TokenDisplay {
  width: 100px;
}

.dice-container {
  background-color: #d9dcd6;
  padding: 15px;
}

.dice {
  width: 100px;
}

.dice:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px #821528;
          box-shadow: 0 5px 25px #821528;
}

.animation-target {
  -webkit-animation: animation 1000ms linear both;
          animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22r%22%2Ce%3A%22b%22%2Cd%3A1100%2CD%3A0%2Cf%3A0%2Ct%3A360%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22k%22%2Ce%3A%22s%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A20%2Cy%3A20%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */
@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.91% {
    -webkit-transform: matrix3d(-0.696, 0.724, 0, 0, -0.84, -0.551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.696, 0.724, 0, 0, -0.84, -0.551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(-0.986, -0.199, 0, 0, -0.02, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.986, -0.199, 0, 0, -0.02, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.82% {
    -webkit-transform: matrix3d(-0.406, -0.921, 0, 0, 0.804, -0.606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.406, -0.921, 0, 0, 0.804, -0.606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.794, -0.617, 0, 0, 0.765, 0.652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.794, -0.617, 0, 0, 0.765, 0.652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.56% {
    -webkit-transform: matrix3d(0.988, 0.171, 0, 0, -0.023, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.988, 0.171, 0, 0, -0.023, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(0.927, 0.38, 0, 0, -0.265, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.927, 0.38, 0, 0, -0.265, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.2% {
    -webkit-transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.93% {
    -webkit-transform: matrix3d(0.928, 0.373, 0, 0, -0.374, 0.927, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.928, 0.373, 0, 0, -0.374, 0.927, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(0.992, 0.124, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.992, 0.124, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.57% {
    -webkit-transform: matrix3d(0.993, 0.115, 0, 0, -0.126, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.993, 0.115, 0, 0, -0.126, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.999, -0.04, 0, 0, 0.038, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, -0.04, 0, 0, 0.038, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.32% {
    -webkit-transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  74.07% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.91% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.91% {
    -webkit-transform: matrix3d(-0.696, 0.724, 0, 0, -0.84, -0.551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.696, 0.724, 0, 0, -0.84, -0.551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(-0.986, -0.199, 0, 0, -0.02, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.986, -0.199, 0, 0, -0.02, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.82% {
    -webkit-transform: matrix3d(-0.406, -0.921, 0, 0, 0.804, -0.606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.406, -0.921, 0, 0, 0.804, -0.606, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.794, -0.617, 0, 0, 0.765, 0.652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.794, -0.617, 0, 0, 0.765, 0.652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.56% {
    -webkit-transform: matrix3d(0.988, 0.171, 0, 0, -0.023, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.988, 0.171, 0, 0, -0.023, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(0.927, 0.38, 0, 0, -0.265, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.927, 0.38, 0, 0, -0.265, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.2% {
    -webkit-transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.82, 0.573, 0, 0, -0.533, 0.846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.93% {
    -webkit-transform: matrix3d(0.928, 0.373, 0, 0, -0.374, 0.927, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.928, 0.373, 0, 0, -0.374, 0.927, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(0.992, 0.124, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.992, 0.124, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.57% {
    -webkit-transform: matrix3d(0.993, 0.115, 0, 0, -0.126, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.993, 0.115, 0, 0, -0.126, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.999, -0.04, 0, 0, 0.038, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, -0.04, 0, 0, 0.038, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  51.32% {
    -webkit-transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  74.07% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.91% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.winner-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winner-text {
  position: absolute;
  z-index: 1;
  top: 600px;
}

#winner-img {
  position: absolute;
  width: 150px;
  top: 250px;
}

#throne-img {
  position: absolute;
  width: 450px;
}

.winner-button {
  position: absolute;
  top: 725px;
}

.animation-target-2 {
  -webkit-animation: animation-2 2000ms linear both;
          animation: animation-2 2000ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A-3000%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A5%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22s%22%2Cd%3A500%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A15%2Cy%3A1%7D%2Cs%3A5%2Cb%3A4%7D%5D%7D */
@-webkit-keyframes animation-2 {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3000, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3000, 0, 1);
  }
  1.3% {
    -webkit-transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2370.203, 0, 1);
            transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2370.203, 0, 1);
  }
  2.55% {
    -webkit-transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1827.977, 0, 1);
            transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1827.977, 0, 1);
  }
  4.1% {
    -webkit-transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1259.123, 0, 1);
            transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1259.123, 0, 1);
  }
  5.71% {
    -webkit-transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -795.962, 0, 1);
            transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -795.962, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -316.472, 0, 1);
            transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -316.472, 0, 1);
  }
  8.81% {
    -webkit-transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -218.397, 0, 1);
            transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -218.397, 0, 1);
  }
  11.96% {
    -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.253, 0, 1);
            transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.253, 0, 1);
  }
  12.11% {
    -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 55.303, 0, 1);
            transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 55.303, 0, 1);
  }
  15.07% {
    -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 126.616, 0, 1);
            transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 126.616, 0, 1);
  }
  16.12% {
    -webkit-transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 130.068, 0, 1);
            transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 130.068, 0, 1);
  }
  27.23% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.516, 0, 1);
            transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.516, 0, 1);
  }
  27.58% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.206, 0, 1);
            transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.206, 0, 1);
  }
  38.34% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.11, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.11, 0, 1);
  }
  40.09% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.911, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.911, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.477, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.477, 0, 1);
  }
  60.56% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.074, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.074, 0, 1);
  }
  82.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes animation-2 {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3000, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3000, 0, 1);
  }
  1.3% {
    -webkit-transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2370.203, 0, 1);
            transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2370.203, 0, 1);
  }
  2.55% {
    -webkit-transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1827.977, 0, 1);
            transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1827.977, 0, 1);
  }
  4.1% {
    -webkit-transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1259.123, 0, 1);
            transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1259.123, 0, 1);
  }
  5.71% {
    -webkit-transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -795.962, 0, 1);
            transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -795.962, 0, 1);
  }
  8.11% {
    -webkit-transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -316.472, 0, 1);
            transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -316.472, 0, 1);
  }
  8.81% {
    -webkit-transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -218.397, 0, 1);
            transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -218.397, 0, 1);
  }
  11.96% {
    -webkit-transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.253, 0, 1);
            transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.253, 0, 1);
  }
  12.11% {
    -webkit-transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 55.303, 0, 1);
            transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 55.303, 0, 1);
  }
  15.07% {
    -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 126.616, 0, 1);
            transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 126.616, 0, 1);
  }
  16.12% {
    -webkit-transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 130.068, 0, 1);
            transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 130.068, 0, 1);
  }
  27.23% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.516, 0, 1);
            transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 23.516, 0, 1);
  }
  27.58% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.206, 0, 1);
            transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 21.206, 0, 1);
  }
  38.34% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.11, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.11, 0, 1);
  }
  40.09% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.911, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.911, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.477, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.477, 0, 1);
  }
  60.56% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.074, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.074, 0, 1);
  }
  82.78% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* Snowflakes effects from https://pajasevi.github.io/CSSnowflakes/ */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 1px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall,snowflakes-shake;
          animation-name: snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration: 10s,3s;
          animation-duration: 10s,3s;
  -webkit-animation-timing-function: linear,ease-in-out;
          animation-timing-function: linear,ease-in-out;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-play-state: running,running;
          animation-play-state: running,running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s,0s;
          animation-delay: 0s,0s;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s,1s;
          animation-delay: 1s,1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s,.5s;
          animation-delay: 6s,.5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s,2s;
          animation-delay: 4s,2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s,2s;
          animation-delay: 2s,2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s,3s;
          animation-delay: 8s,3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s,2s;
          animation-delay: 6s,2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s,1s;
          animation-delay: 2.5s,1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s,0s;
          animation-delay: 1s,0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s,1.5s;
          animation-delay: 3s,1.5s;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=style.css.map */